@page "/"

<!DOCTYPE html>
<html>
<head>
    <title>Blockbuster Video Stores & On Demand Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The magic of Blockbuster Movies lives on. Find remaining store information or Make it a Blockbuster Night with DISH On Demand." />

</head>

<body>
    <section id="main-content">
        <div class="static-content">
            <img src="images/blockbuster_logo.jpg" alt="Blockbuster logo" style="max-width: 100%; height: auto; width: 200px;" />
            <h1>We are working on rewinding your movie.</h1>
            <h2>...but while you wait, check out all that <a href="https://www.sling.com">Sling TV has to offer</a>.</h2>
        </div>
    </section>
</body>
</html>
